.cursor{
    width: 3rem;
    height: 3rem;
    border: 2px solid white;
    border-radius: 100px;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.5s ease-in-out;
    transition-property: background, transform;
    transform-origin: 70% 70%;
}

.cursor.nav-active{
    background: rgb(86, 124, 228);
    transform: scale(3);
}

.cursor.active{
    //border: black;
    z-index: 1;
    outline: solid black;
    background: white;
}

.cursor-text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 0.5rem;
    transform: translate(-50%, -50%);
}

.cursor.explore-active {
    background: white;
    transform: scale(3);
}